// Form
.doctor-form {
    border-radius: 4px;
    padding: 25px;
    width: 90%;
    max-width: 1000px;
    border: 1px solid #e8e8e8;

    header {
        display: flex;
        justify-content: space-between;
        h3 {
            margin-bottom: 25px;
        }
    }
    .ant-form-item-label {
        line-height: 1.4;
        white-space: normal;
        text-align: left;
    }
    .editable-row {
        .ant-form-explain {
            position: absolute;
            font-size: 12px;
            margin-top: -4px;
        }
    }
    .form-icon {
        font-size: 36px;
        color: #1890ff;
    }
    .ant-table-footer {
        text-align: right;
        padding: 0;
        &:hover {
            background-color: #e6f7ff;
        }
        .add-row {
            padding: 15px;
            margin-bottom: 0;
            cursor: pointer;
            span {
                vertical-align: super;
                margin-right: 10px;
            }
        }
    }
    .bottom-buttons {
        .ant-form-item-children {
            display: flex;
            justify-content: space-around;
        }
    }
    
}

// Login-Pass change card

.ant-drawer {
    .hidden-inputs {
        display: none;
        &.show {
            display: block; 
        }
    }
    .user-form-submit-button {
        position: absolute;
        bottom: -97px;
        height: 49px;
        left: -25px;
        width: 150px;
        background: rgba(0,0,0,0);
        border: 0;
        z-index: 1001;
    }
}

